---
- name: "(Install: All OSs) Install NGINX Plus RTMP Module"
  package:
    name: "nginx-plus-module-rtmp{{ nginx_version | default('') }}"
    state: present

- name: "(Setup: All NGINX) Load NGINX RTMP Module"
  lineinfile:
    path: /etc/nginx/nginx.conf
    insertbefore: BOF
    line: load_module modules/ngx_rtmp_module.so;
  when: not nginx_main_template_enable
  notify: "(Handler: All OSs) Reload NGINX"
