#####################
# Main global owner #
#####################
* @alessfg

################################################
# Enable auto merge on GitHub Action workflows #
################################################
/.github/workflows

##############################################
# Markdown does not require a specific owner #
##############################################
*.md
