#####################
# Main global owner #
#####################
* @nginx/ansible

################################################
# Enable auto merge on GitHub Action workflows #
################################################
/.github/workflows
