########################
# Any crt/keys/license #
########################
*.crt
*.key
*.jwt

##########################
# Backup/temporary files #
##########################
*~
\#*

##################
# MacOS specific #
##################
Thumbs.db
.DS_Store
.vscode

########################
# Code editor specific #
########################
.idea
.vscode

####################
# Ansible specific #
####################
.cache
*.retry

###################
# Python specific #
###################
__pycache__

########
# Logs #
########
*.log
