---
language: python
python: "2.7"
# Use the new container infrastructure
sudo: false
# Install ansible
addons:
  apt:
    packages:
    - python-pip
install:
  # Install ansible
  - pip install ansible
  # Check ansible version
  - ansible --version
  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg
script:
  # Basic role syntax check
  - ansible-playbook tests/test.yml -i tests/inventory --syntax-check
  # Run the role with ansible-playbook.
  - ansible-playbook tests/test.yml -i tests/inventory --connection=local --sudo
  # Run the role again, checking to make sure it's idempotent.
  - >
    ansible-playbook tests/test.yml -i tests/inventory --connection=local --sudo | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0) || (echo 'Idempotence test: fail' && exit 1)
  # Request a page via the web server, to make sure NGINX is running and responds.
  - curl http://localhost/
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
