---
- name: "(Setup: All OSs) Set variables for {{ ansible_os_family }} {{ ansible_distribution }} {{ ansible_distribution_release }}"
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml"
        - "{{ ansible_distribution }}.yml"
        - "{{ ansible_os_family }}.yml"
        - "default.yml"
      paths: "{{ role_path }}/vars"
