user  {{ main_template_user }};
worker_processes  {{ main_template_worker_processes }};

error_log  /var/log/nginx/error.log {{ main_template_error_level }};
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ main_template_worker_connections }};
}

{% if http_template_enable %}
http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  {{ http_template_keepalive_timeout }};

    #gzip  on;

    include /etc/nginx/conf.d/http/*.conf;
}
{% endif %}

{% if stream_template_enable %}
stream {
    include /etc/nginx/conf.d/stream/*.conf;
}
{% endif %}
