---
- import_tasks: setup-license.yml

- import_tasks: setup-debian.yml
  when: ansible_os_family == "Debian"

- import_tasks: setup-redhat.yml
  when: ansible_os_family == "RedHat"

- import_tasks: setup-suse.yml
  when: ansible_os_family == "Suse"

- import_tasks: setup-freebsd.yml
  when: ansible_os_family == "FreeBSD"

- name: "(Install: All OSs) Install NGINX Plus"
  package:
    name: nginx-plus
    state: present
  notify: "(Handler: All OSs) Start NGINX"

- import_tasks: delete-license.yml
  when: nginx_delete_license
